<configuration>
  <glade>
    <gladefile windowname="window1" outputpath="/home/dirk/Projects/Sharpend/Sharpend/GtkSharp/Widgets" filename="/home/dirk/Projects/Sharpend/Sharpend/GtkSharp/Widgets/glade/progresswindow.glade" createimplementation="True" namespace="Sharpend.GtkSharp" class="ProgressWindow" customwidgetclass="DockableWidget" customwidget="True" />
  </glade>
</configuration>