<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
   		<add key="mongoconnection" value="mongodb://localhost/db" />
  	</appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--
      <service name="TaskManager.WebServiceControl"
               behaviorConfiguration="BehaviourMetaData">
        <endpoint address="http://localhost:8080/WebServiceControl"
                  binding="basicHttpBinding"
                  contract="TaskManager.IWebserviceControl" />
      </service>
      -->
      <service name="Sharpend.Database.FilesystemItemWCFFactory"
               behaviorConfiguration="BehaviourMetaData">
        <endpoint address="http://localhost:9010/FilesystemItemWCFFactory"
                  binding="basicHttpBinding"
                  contract="Sharpend.Database.IFileSystemItemFactory" />
      </service>
    </services>
  </system.serviceModel>
  	
  <!--
  	<services>
		<service 
		    name="InfoTask.SearchServiceWs"
		    behaviorConfiguration="SearchServiceWsBehavior"
		    >
		    
		  <host>
		    <baseAddresses>
				<add baseAddress="http://localhost:9000/SearchServiceWs"/>

		    </baseAddresses>
		  </host>
		      
		  	<endpoint address="" 
                  binding="basicHttpBinding"
                  bindingNamespace="http://localhost:9000"
                  contract="InfoTask.ISearchServiceWs" />
           
            
            <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingNamespace="http://localhost:9000"
                  contract="IMetadataExchange" />
		 
		</service>
		
		<service 
		    name="TaskManager.WebServiceControl"
		    behaviorConfiguration="WebServiceControlBehavior"
		    >
		    
		  <host>
		    <baseAddresses>
				<add baseAddress="http://localhost:9050/WebServiceControl"/>
		    </baseAddresses>
		  </host>
		  
		  	<endpoint address="" 
                  binding="basicHttpBinding"
                  bindingNamespace="http://localhost:9050"
                  contract="TaskManager.IWebserviceControl" />
           
            
            <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingNamespace="http://localhost:9050"
                  contract="IMetadataExchange" />
		 
		</service>
	</services>
	
		
	<behaviors>
      <serviceBehaviors>
        <behavior name="SearchServiceWsBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="WebServiceControlBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
  -->
</configuration>