<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
   		<add key="mongoconnection" value="mongodb://localhost/db" />
  	</appSettings>	
  	
  	<services>
		<service 
		    name="InfoTask.SearchServiceWs"
		    behaviorConfiguration="SearchServiceWsBehavior"
		    >
		    <!-- -->
		  <host>
		    <baseAddresses>
				<add baseAddress="http://localhost:9000/SearchServiceWs"/>
<!--		      	<add baseAddress="net.tcp://localhost:8001" />
    			<add baseAddress="http://localhost:8000/Service1" />-->
		    </baseAddresses>
		  </host>
		  <!-- -->       
		  	<endpoint address="" 
                  binding="basicHttpBinding"
                  bindingNamespace="http://localhost:9000"
                  contract="InfoTask.ISearchServiceWs" />
           
            <!-- -->
            <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingNamespace="http://localhost:9000"
                  contract="IMetadataExchange" />
		 
		</service>
		
		<service 
		    name="TaskManager.WebServiceControl"
		    behaviorConfiguration="WebServiceControlBehavior"
		    >
		    <!-- -->
		  <host>
		    <baseAddresses>
				<add baseAddress="http://localhost:9050/WebServiceControl"/>
<!--		      	<add baseAddress="net.tcp://localhost:8001" />
    			<add baseAddress="http://localhost:8000/Service1" />-->
		    </baseAddresses>
		  </host>
		  <!-- -->       
		  	<endpoint address="" 
                  binding="basicHttpBinding"
                  bindingNamespace="http://localhost:9050"
                  contract="TaskManager.IWebserviceControl" />
           
            <!-- -->
            <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingNamespace="http://localhost:9050"
                  contract="IMetadataExchange" />
		 
		</service>
	</services>
	
		
	<behaviors>
      <serviceBehaviors>
        <behavior name="SearchServiceWsBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="WebServiceControlBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
  	
</configuration>