<?xml version="1.0" encoding="UTF-8" ?>


<tasks>
  <task id="task1" nextrun="01.05.2012 11:45:00" intervall="2" class="TaskManager.DataClass" assembly ="TaskManager">
    <params>
    	<param name="name" type="System.String">task1</param>
  	</params>  
  </task>
  <task id="task2" nextrun="01.05.2012 12:15:00" intervall="10" class="TaskManager.DataClass" assembly ="TaskManager">
    <params>
    	<param name="name" type="System.String">task2</param>
  	</params>  
  </task>
</tasks>