<configuration>
  <picturepath>/home/dirk/.musicbrowserv4/images</picturepath>
  <placeholderimage>/home/dirk/Projects/MusicBrowserV4/MusicBrowserV4/empty.jpg</placeholderimage>
  <musicdbprefix>/home/dirk/media_pc/data</musicdbprefix>
  <indexpath>/home/dirk/musikindex</indexpath>
  <createindex>false</createindex>
  <lockindex>false</lockindex>
  <optimizeindex>true</optimizeindex>
  <mongoconnection>mongodb://localhost/db</mongoconnection>
  <!-- <mpdserver>192.168.0.5</mpdserver> -->
  <!-- 
  <mpdserver>127.0.0.1</mpdserver>
  <mpdport>6600</mpdport>
-->
  <!-- -->
  <mpdserver>192.168.178.24</mpdserver>
  <mpdport>6600</mpdport>

  <MongoDbUser>stomp</MongoDbUser>
  <mongobackuppath>/home/dirk/.musicbrowserv4/backup</mongobackuppath>
  <newindex>/temp/newindex</newindex>
  <chooser>
    <chooser_chooserSelectSyncPath>/media</chooser_chooserSelectSyncPath>
  </chooser>
</configuration>
