<configuration>
  <picturepath>/home/dirk/.musicbrowserv4/images</picturepath>
  <placeholderimage>/home/dirk/Projects/MusicBrowserV4/MusicBrowserV4/empty.jpg</placeholderimage>
  <musicdbprefix>/home/dirk/media_pc/data</musicdbprefix>
  <!--
  <indexpath>/home/dirk/musikindex</indexpath>
  -->
  <createindex>false</createindex>
  <lockindex>false</lockindex>
  <optimizeindex>true</optimizeindex>
  <mongoconnection>mongodb://localhost/db</mongoconnection>
  <!-- <mpdserver>192.168.0.5</mpdserver> -->
<!--  -->
  <mpdserver>127.0.0.1</mpdserver>
  <mpdport>6600</mpdport>
  <folderimage>/home/dirk/folder.png</folderimage>
  <fileimage>/home/dirk/file.png</fileimage>
  <filesystemroot>/home/dirk</filesystemroot>	
<!-- pi  borken
  <mpdserver>192.168.178.24</mpdserver>
  <mpdport>6600</mpdport>
-->
  <dmsuser>stomp</dmsuser>
  <tagprovider>Sharpend.Id3.Id3TagProvider,Sharpend.Id3</tagprovider> 
  <pathprefix>/home/dirk/media_pc/data</pathprefix>
  
  <mongodbname>dmsdatabase_debug</mongodbname>
  <indexpath>/home/dirk/musicindex_2013_debug</indexpath>
  <index_backup>/home/dirk/musicindex_2013_debug/autobackup</index_backup>
  
  <dmsbaseurl>http://localhost:9099/Dms2</dmsbaseurl>	
  <taskmanagerurl>http://localhost:9089/WebServiceControl</taskmanagerurl>
  <MongoDbUser>stomp_debug</MongoDbUser>
  <!---
  <mongobackuppath>/home/dirk/.musicbrowserv4/backup</mongobackuppath>
  -->
</configuration>