<configuration>
	<windows>
		<window createwindow="false" class="DockApplication.Window1" 
				assembly ="DockApplication" restorewindow="true">
	      	<params>
	        	<param name="name" type="System.String">Window1</param>
	      	</params>
	      	<!--
			<delegates>
			      <delegate target="MainWindow" function="createSearchResult" event="OnCreateResultWindow">
				  </delegate>
			</delegates>
			-->
			<!--
			<delegates>
			      <delegate target="MainWindow" function="createSearchResult" event="OnUpdateResultWindow">
				  </delegate>
			</delegates>
			-->
	    </window>
	</windows>
</configuration>